.carousel_image{
    background: rgb(246, 246, 246);
    
}

.Carousel_another_side{
    background: rgb(246, 246, 246);
}

.modulus_color{
    color: rgb(3, 202, 19);
    font-weight: 600;
    font-size: 40px;
}


.carousel_body_text{
    font-family: serif;
}